<!-- Possible inputs:
- header
- title
- content
- footer 
- backgroundColor -->

<!-- This is to be used with row layout, good for responsiveness -->
<div class="col my-3">
  <div class="card shadow">
    <!-- Large sectioned off header -->
    <% if(locals.header) {%>
    <h4 class="center-text pt-3 pb-2"><%= header %></h4>
    <% } %>

    <% if(locals.img) {%>
    <p><img src='<%-img%>' alt="card image"></p>
    <% } else { %>
    <p><img src="https://images.unsplash.com/photo-1501618669935-18b6ecb13d6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1932&q=80"></p>
    <% } %>

    <div class="card-body py-1 height-100">
      <!-- Separetly spaced title -->

      <% if(locals.code) {%>
      <h5 class="card-title center-text"><%= code %></h5>
      <% } %>

      <!-- Main content -->
      <% if(locals.content) {%>
      <p class="card-text center-text">Teacher: <%= content %></p>
      <% } %>
      <div class="center-text">
        <a href='/course/<%-code%>'><button class="btn btn-primary mb-2"><i class="fa fa-info-circle" aria-hidden="true"></i>Course Details</button></a>
      </div>
    </div>

    <!-- Ending footer -->
    <% if(locals.footer) {%>
    <div class="card-footer py-1"><%= footer %></div>
    <% } %>
  </div>
</div>