<!-- Possible inputs:
- header
- title
- content
- footer 
- backgroundColor -->

<!-- This is to be used with row layout, good for responsiveness -->
<div class="col my-3">
  <div class="card"
    <!-- Large sectioned off header -->
    <% if(locals.header) {%>
    <h3><%= header %></h3>
    <% } %>

    <div class="card-body py-1">
      <!-- Separetly spaced title -->

      <% if(locals.title) {%>
      <h5 class="card-title"><%= title %></h5>
      <% } %>

      <!-- Main content -->
      <% if(locals.content) {%>
      <p class="card-text"><%= content %></p>
      <% } %>
      <a href='/course/<%-code%>'><button class="btn btn-primary mb-2">Course Details</button></a>
    </div>

    <!-- Ending footer -->
    <% if(locals.footer) {%>
    <div class="card-footer py-1"><%= footer %></div>
    <% } %>
  </div>
</div>