<!-- Possible inputs:
- header
- title
- content
- footer 
- backgroundColor -->

<!-- This is to be used with row layout, good for responsiveness -->
<div class="mb-4">
    <div class="card"><% if(!locals.backgroundColor) locals.backgroundColor="" %>
        

        <div class="card-body py-1">

            <!-- Main content -->
            <% if(locals.content) {%>
            <p class="card-text inline-block"><%= content %></p>
            <% } %>

            <a class="inline-block like-button" onclick="location.reload()">
                <button onclick="likeQuestion('<%-courseId%>', '<%-messageId%>')">
                    <img src="https://psmag.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_600/MTI3NTgxNjIxNTQ0MDY1NTAy/facebook-like.webp"></img>
                    <%= likes%>
                </button>
            </a>

        </div>

        <!-- Ending footer -->
        <% if(locals.footer) {%>
        <div class="card-footer py-1"><%= footer %></div>
        <% } %>
    </div>
</div>
