<!-- Possible inputs:
- header
- title
- content
- footer 
- backgroundColor -->

<!-- This is to be used with row layout, good for responsiveness -->
<div class="mb-4">
    <div class="card-message"><% if(!locals.backgroundColor) locals.backgroundColor="" %>
        

        <div class="card-body py-1">

            <!-- Main content -->
            <% if(locals.content) {%>
            <p class="card-text-message inline-block"><%= content %></p>
            <% } %>

            <a class="inline-block like-button" onclick="location.reload()">
                <button class="btn-primary" onclick="likeQuestion('<%-courseId%>', '<%-messageId%>')">
                    <i class="fas fa-thumbs-up"></i>
                    <%= likes%>
                </button>
            </a>

        </div>

        <!-- Ending footer -->
        <% if(locals.footer) {%>
        <div class="card-footer py-1"><%= footer %></div>
        <% } %>
    </div>
</div>
