<!DOCTYPE html>
<html>
    <head>
        <title>Help Me</title>

        <!-- Bootstrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Lato&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <!-- Our custom stylesheets -->
        <link rel="stylesheet" type="text/css" href="stylesheet.css" />

        <script>
            if (!sessionStorage.getItem("isLoggedIn")) {
                window.location = "/login";
            }
        </script>

        <%- include("../partials/styling.ejs") %>
    </head>

    <body>
        <%- include("../partials/navbar.ejs") %>

        <div class="mainContent container">
            <script> 
                console.log("testing");
                // console.log( <%- JSON.stringify(values) %>);
            </script>
                <%- include('../partials/messageCard', {title: values.name, content: values.teacher, backgroundColor: "bg-danger", code: id}) %>           
            
            
            <!-- <button onclick="getAllCourses()">Get Course</button> -->
        </div>

        <%- include("../partials/footer.ejs") %>

        <!-- Firebase -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-database.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-analytics.js"></script>

        <!-- Pull needed files for bootstrap -->
        <%- include("../partials/bootstrap.ejs") %>

        <script src="js/index.js"></script>
        <script src="js/firebaseHelper.js"></script>
    </body>
</html>
