<!doctype html>
<html>

<head>
    <title>Create a Course</title>
    <!-- Pull in all style imports -->
    <%- include("../partials/styling.ejs") %>
</head>

<body>
    <!-- Pull in the navbar -->
    <%- include("../partials/navbar.ejs") %>

    <div class="mainContent container mt-5">
        <form class="card">
          <!-- Title of form -->
          <h4 class="card-header">Create a Course</h4>

          <div class="card-body">
            <div class="card-text">

              <!-- Form contents -->
              <div class="form-group">
                <label for="courseCodeInput"> Course Code </label>
                <input type="text" class="form-control" id="courseCodeInput" aria-describedby="courseCode" onkeyup="validateCourseCode(this)" placeholder="Enter the course code (MA2203-09)">
                <small id="courseCode" class="form-text text-muted">This is how students will find your course chat</small>
              </div>
              <div class="form-group">
                <label for="courseName"> Course Name </label>
                <input type="text" class="form-control" id="courseNameInput" aria-describedby="courseName" onkeyup="validateCourseName(this)" placeholder="Enter the course name (Intro to Mathematics)">
                <small id="courseName" class="form-text text-muted">Course's name or short description</small>
              </div>
              <div class="form-group">
                <label for="instructorNameInput"> Instructor Name </label>
                <input type="text" class="form-control" id="instructorNameInput" aria-describedby="instructorName" onkeyup="validateInstructorName(this)" placeholder="Enter the instructor name (Dr. Sarah Lee)">
                <small id="instructorName" class="form-text text-muted">Instructor's title, first, and last name</small>
              </div>

              <!-- Submit and cancel buttons -->
              <button type="button" class="btn btn-primary mr-3" onclick="createCourse()">Create</button>
              <button type="button" class="btn btn-danger" onclick="cancel()">Cancel</button>
            </div>
            
          </div>
        </form>

        <%- include('../partials/customCard', {title: 'The sorta start', content: "teh stuff y'know man", backgroundColor: "bg-light"}) %>
    </div>
    
    <!-- Pull in theme selector footer -->
    <%- include("../partials/footer.ejs") %>
    
    <script src="/js/createCourse.js"></script>

    <!-- Pull needed files for FireBase -->
    <%- include("../partials/firebase.ejs") %>

    <!-- Pull needed files for bootstrap -->
    <%- include("../partials/bootstrap.ejs") %>
    
    <!-- <script src="index.js"></script> -->
</body>

</html>