<!DOCTYPE html>
<html>
    <head>
        <title>Help Me</title>
        <%- include("../partials/styling.ejs") %>

        <script>
            if (!sessionStorage.getItem("isLoggedIn")) {
                window.location = "/login";
            }
        </script>
    </head>

    <body>
        <%- include("../partials/navbar.ejs") %>

        <div class="container">
          <form class="form-inline mt-3">
            <input
                class="form-control col-lg-11 col-10"
                type="search"
                placeholder="Search"
                aria-label="Search"
                id="search"
            />
            <button class="btn btn-primary my-2 my-sm-0 col-lg-1 col-2" type="button" onclick="searchForCourse()"> Search </button>
          </form>
        </div>

        <div class="container" id="mainContent">
            <script> 
                console.log("testing");
            </script>
            <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2">
              <% if(locals.values) {%>
                <% Object.keys(values).forEach(function(prop) { %>
                    <%- include('../partials/courseCard', {header: values[prop].name, content: values[prop].teacher, backgroundColor: "bg-secondary", code: prop}) %>
                <% });%>
              <% } %>
            </div>
            <!-- <button onclick="getAllCourses()">Get Course</button> -->
        </div>

        <%- include("../partials/footer.ejs") %>

        <script src="/js/search.js"></script>

        <!-- Pull needed files for FireBase -->
        <%- include("../partials/firebase.ejs") %>

        <!-- Pull needed files for bootstrap -->
        <%- include("../partials/bootstrap.ejs") %>
    </body>
</html>
