<!DOCTYPE html>
<html>
    <head>
        <title>Help Me</title>
        <%- include("../partials/styling.ejs") %>

        <script>
            if (!sessionStorage.getItem("isLoggedIn")) {
                window.location = "/login";
            }
        </script>
    </head>

    <body>
        <%- include("../partials/navbar.ejs") %>

        <div class="mainContent">
            <script> 
                console.log("testing");
                // console.log( <%- JSON.stringify(values) %>);
            </script>
            <% Object.keys(values).forEach(function(prop) { console.log(prop) });%>
            <% Object.keys(values).forEach(function(prop) { %>
                <%- include('../partials/courseCard', {header: values[prop].name, content: values[prop].teacher, backgroundColor: "bg-secondary", code: prop}) %>
            <% });%>
            
            <!-- <button onclick="getAllCourses()">Get Course</button> -->
        </div>

        <%- include("../partials/footer.ejs") %>

        <!-- Pull needed files for FireBase -->
        <%- include("../partials/firebase.ejs") %>

        <!-- Pull needed files for bootstrap -->
        <%- include("../partials/bootstrap.ejs") %>
    </body>
</html>
